.App {
  text-align: center;
  overflow-x: hidden; /* Add this line to prevent horizontal scrolling */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: hidden; /* Add this line to prevent horizontal scrolling */
}

.container-fixed-bottom {
  height: 20vh;
  overflow-y: auto;
  background-color: #282c34;
}

.image {
  width: 75%;
  height: 75%;
  object-fit: cover;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

/* Add this style to remove the gutters on the row */
.container {
  padding-right: 0;
  padding-left: 0;
}
